<img src="assets/icon/logo.png" width="30" height="30" alt="logo" class="logo">
<nav class="navbar">
    <ul>
        <li><a href="index.html" class="buttom">Hjem</a></li>
        <li><a href="flicc.html" class="buttom">F.L.I.C.C.</a></li>
        <li><a href="rabbit.html" class="buttom">Kaninhullet</a></li>
        <li><a href="about.html" class="buttom">Om Os</a></li>
    </ul>
</nav>