header
{

}
header::after
{
    content: "";
    display: table;
    clear: both;
}

nav
{
    float: right;
}

nav ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li
{
    display: inline-block;
    margin-left: 75px;
    padding-top: 25px;
}

nav a
{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover
{
    background-color: antiquewhite
}

.logo
{
    float: left;
    padding: 10px 0;
}

.container
{
    width: 80%;
    margin: 0 auto;
}